@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@600&family=Teko&family=Titillium+Web:wght@600;700&family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3.5%;
}

/* Navbar */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: rgb(31, 30, 30);
  color: white;
  font-family: "Titillium Web", sans-serif;
}
header img {
  height: 90%;
}
nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: rgb(143, 100, 44);
}
header .login-btn-box {
  background-color: rgb(143, 100, 44);
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 25px;
}
header .login-btn-box i {
  font-weight: 700;
}
header .login-btn {
  background: none;
  border: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
  font-weight: 700;
}
header .login-btn-box:hover {
  background-color: rgb(115, 194, 115);
  color: black;
  border: 2px solid white;
}
header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  /* visibility: hidden; */
  display: none;
  opacity: 0;
  font-size: 1.8rem;
}
header .nav-close-btn {
  color: red;
}

.basmallah {
  height: 75vh;
}
.basmallah img {
  height: 100%;
}
.about {
  width: 800px;
  height: 400px;
  padding: 2%;
  font-family: "Varela Round", sans-serif;
  color: white;
  letter-spacing: 1px;
  text-align: start;
  font-size: 30px;
  background-color: rgba(15, 14, 9, 0.6);
  box-shadow: 0px 5px 10px 0px rgba(18, 64, 13, 0.5);
}
.about::after {
  content: "";
  width: 2px;
  height: 57%;
  background: silver;
  position: absolute;
  left: 40%;
  top: 25%;
}
.about p {
  margin-top: 3%;
}
.footer {
  width: 100%;
  height: 27px;
  background-color: rgb(143, 100, 44);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  font-family: "Lilita One", cursive;
}
.aboutus {
  height: 80.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutus p {
  color: white;
  font-size: 80px;
}

/* Login Page */

.login {
  height: 88.7vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .login-container{
  height: 60%;
  width: 50%;
  /* background-color: white; */
  display: flex;
}
.login-one{
  height: 100%;
  width: 50%;
  background-color: rgb(143, 100, 44);
  box-shadow: inset 6px 6px 10px 0 rgb(85, 57, 20), inset -6px -6px 10px 0 rgb(172, 119, 49);
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}
.login-one h3{
  text-align: center;
  color: rgb(167, 26, 26);
  font-size: 100px;
}
.login-one .p-one{
  font-size: 50px;
  color: white;
}

/*  */
.login-two{
  height: 100%;
  width: 50%;
  /* background-color: white; */
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}
.login-two .login-child{
  height: 80%;
  width: 80%;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
  /* background-color: red; */
}
.login-two .login-child p{
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  color: rgb(175, 106, 16);
  margin-top: 5%;
}
.entry{
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  padding: 2%;
  margin: 7%;
  /* background-color: rgb(213, 207, 207); */
  background-color: #e0e0e0;
  border-radius: 10px;
  font-weight: 100;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}
.login-child button{
  width: 25%;
  height: 35px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  background-color: rgb(190, 126, 41);
  color: white;
  cursor: pointer;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 10%;
}
.login-child a{
  text-decoration: none;
}



/* Contact Section */
.contact {
  /* position: relative; */
  padding: 5.3% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
}
.contact .content p {
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
}
.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box {
  /* position: relative; */
  padding: 20px 0;
  display: flex;
  cursor: pointer;
}
.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75em;
  transition: 0.5s;
}
.container .contactInfo .box:hover .icon {
  background: rgb(143, 100, 44);
  color: #fff;
}
.container .contactInfo .box .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 1.1em;
  color: #fff;
  font-weight: 300;
}
.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: rgb(143, 100, 44);
}
.container .contactInfo .txt {
  color: #fff;
  margin-top: 50px;
  font-weight: 500;
  padding-left: 10px;
  line-height: 1em;
}
.sci {
  /* position: relative; */
  display: flex;
  gap: 30px;
  margin: 20px 0;
}
.sci li {
  list-style: none;
}
.sci li a {
  color: #fff;
  font-size: 2em;
  transition: 0.5s;
}
.sci li a:hover {
  color: rgb(143, 100, 44);
}

.container .contactForm {
  /* position: relative; */
  width: 40%;
  background: #fff;
  min-height: 100px;
  padding: 60px;
}
.container .contactForm h2 {
  font-size: 2em;
  color: #333;
  font-weight: 500;
}
.container .contactForm .inputBox {
  /* position: relative; */
  width: 100%;
  margin-top: 20px;
}
.container .contactForm .inputBox input,
.container .contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 1.1em;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.container .contactForm .inputBox span {
  /* position: absolute; */
  left: 0;
  pointer-events: none;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 1.1em;
  color: #666;
  transition: 0.1s;
}
.container .contactForm .inputBox input:focus ~ span,
.container .contactForm .inputBox textarea:focus ~ span,
.container .contactForm .inputBox input:valid ~ span,
.container .contactForm .inputBox textarea:valid ~ span {
  color: green;
  font-size: 0.9em;
  transform: translateY(-20px);
}
.container .contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: rgb(143, 100, 44);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 500;
}

/* lets make it responsive */

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    /* visibility: visible; */
    display: inline;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgb(143, 100, 44);
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  /* header .login-btn{
		margin-left: 80%;
	} */

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
  .home {
    display: block;
  }
  .about::after {
    display: none;
  }
  .basmallah {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav a:hover {
    color: green;
  }.login{
    height: 100vh;
  }
  .login .login-container{
    display: block;
    width: 95%;
    height: 95%;
  }
  .login-one{
    width: 100%;
    height: 40%;
  }
  .login-two{
    width: 100%;
    height: 60%;
  }
  .login-child button{
    width: 30%;
  }
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo,
  .container .contactForm {
    width: 100%;
  }
  .container .contactForm {
    padding: 50px 30px;
  }
}

@media (max-width: 600px) {
  .about {
    font-size: 21px;
    padding-top: 5%;
    text-align: center;
  }
  .about p {
    margin-top: 7%;
  }
  .footer p {
    font-size: 10px;
  }
  header .login-btn {
    width: auto;
  }
  .entry{
    font-size: 15px;
  }
}
